@import './base.css';

#app {
  font-family: 'formula1';
  font-weight: normal;
}

@font-face {
  font-family: formula1;
  font-weight: normal;
  src: url("Formula1-Regular.otf") format("opentype")
}

@font-face {
  font-family: formula1;
  font-weight: bold;
  src: url("Formula1-Bold.otf") format("opentype")
}

@font-face {
  font-family: formula1wide;
  font-weight: normal;
  src: url("Formula1-Wide.otf") format("opentype")
}

.red_bull {
  fill: #3671c6
}

.mercedes {
  fill: #6cd3bf
}

.ferrari {
  fill: #f91536
}

.mclaren {
  fill: #f58020
}

.aston_martin {
  fill: #358c75
}

.alpine {
  fill: #2293d1
}

.williams {
  fill: #37bedd
}

.alphatauri {
  fill: #5e8faa
}

.alfa {
  fill: #c92d4b
}

.haas {
  fill: #b6babd
}