@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.red_bull {
  fill: #3671c6
}

.mercedes {
  fill: #6cd3bf
}

.ferrari {
  fill: #f91536
}

.mclaren {
  fill: #f58020
}

.aston_martin {
  fill: #358c75
}

.alpine {
  fill: #2293d1
}

.williams {
  fill: #37bedd
}

.alphatauri {
  fill: #5e8faa
}

.alfa {
  fill: #c92d4b
}

.haas {
  fill: #b6babd
}