@import './base.css';

#app {
  font-family: 'Titillium Web';
  font-weight: normal;
}

h1 {
  font-family: 'formula1';
  font-weight: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("https://fonts.gstatic.com/s/titilliumweb/v17/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: formula1;
  font-weight: normal;
  src: url("Formula1-Regular.otf") format("opentype")
}

@font-face {
  font-family: formula1;
  font-weight: bold;
  src: url("Formula1-Bold.otf") format("opentype")
}

@font-face {
  font-family: formula1wide;
  font-weight: normal;
  src: url("Formula1-Wide.otf") format("opentype")
}

.red_bull {
  fill: #3671c6
}

.mercedes {
  fill: #6cd3bf
}

.ferrari {
  fill: #f91536
}

.mclaren {
  fill: #f58020
}

.aston_martin {
  fill: #358c75
}

.alpine {
  fill: #2293d1
}

.williams {
  fill: #37bedd
}

.alphatauri {
  fill: #5e8faa
}

.alfa {
  fill: #c92d4b
}

.haas {
  fill: #b6babd
}